@charset "UTF-8";
/*Titulo Marca*/
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Alice&family=Bebas+Neue&family=Montserrat&display=swap");
.titulo {
  background-color: transparent;
  color: #b23a48;
  text-align: center;
  position: absolute;
  left: 46.5%;
  top: 20%;
  z-index: 5;
  animation: mostrar 5s infinite;
  font-family: "Bebas Neue";
}
.titulo:hover {
  color: #520d40c5;
}
@keyframes mostrar {
  0% {
    opacity: 0.75;
  }
  50% {
    color: #b23a48;
    opacity: 1.5;
  }
  100% {
    color: #520d40c5;
    opacity: 0.75;
  }
}
@media only screen and (max-width: 960px) {
  .titulo {
    display: none;
  }
}

/*Menu Principal*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(254, 219, 215, 0.5);
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  /*Logo*/
}
.menu img {
  width: 12%;
}
.menu ul {
  list-style: none;
}
.menu li {
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}
.menu a {
  color: #b23a48;
}
.menu a:hover {
  color: #fedbd7;
  background-color: #b23a48;
  padding: 5px;
  border-radius: 15px 50px 30px;
}
@media only screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}

.nav-responsive {
  display: none;
  background-color: rgba(254, 219, 215, 0.8);
  font-family: "Bebas Neue";
}
.nav-responsive .navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem #CC6670;
}
.nav-responsive .heart {
  color: #520d40c5;
}
.nav-responsive .nav-link {
  color: #520d40c5 !important;
}
.nav-responsive .nav-link:hover {
  color: #CC6670 !important;
  border-bottom: solid 2px #520d40c5;
}
@media only screen and (max-width: 960px) {
  .nav-responsive {
    display: inline;
  }
}

.cuotas {
  color: #fedbd7;
  background-color: #520d40;
  text-align: center;
  margin-top: 6%;
  animation: cuotas 7s infinite;
}
@media only screen and (max-width: 960px) {
  .cuotas {
    margin-top: 0;
  }
}
.cuotas .cuotas-desktop {
  margin: 0;
  font-family: "Bebas Neue";
  font-size: 22px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 960px) {
  .cuotas .cuotas-desktop {
    display: none;
  }
}
.cuotas .titulo-responsive {
  display: none;
}
@media only screen and (max-width: 960px) {
  .cuotas .titulo-responsive {
    font-family: "Bebas Neue";
    font-size: 25px;
    letter-spacing: 1px;
    display: inline;
  }
}
@keyframes cuotas {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    background-color: #CC6670;
    opacity: 1.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    color: #fedbd7;
    background-color: #520d40;
    opacity: 0.5;
  }
}

/*Footer*/
.footer {
  background-image: url("../images/img-footer.jpg");
  background-size: cover;
  color: #520d40c5;
  text-align: end;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  padding: 50px 50px 0 50px;
  border-top: solid 1px #CC6670;
}
.footer .container-enlaces {
  display: flex;
  justify-content: space-between;
}
.footer .container-enlaces .enlaces-footer a {
  padding: 12.5px;
  color: #520d40c5;
}
.footer .container-enlaces .enlaces-footer a:hover {
  color: #b23a48;
  border-bottom: solid 2px #520d40;
  padding-bottom: 2px;
}
@media only screen and (max-width: 768px) {
  .footer .container-enlaces .enlaces-footer {
    display: flex;
    justify-content: center;
  }
}
.footer .container-enlaces .iconos-redes {
  padding: 10px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}
.footer .container-enlaces .iconos-redes a:nth-child(4) {
  color: #00bb2d;
}
.footer .container-enlaces .iconos-redes a:nth-child(3) {
  color: #010101;
}
.footer .container-enlaces .iconos-redes a:nth-child(2) {
  color: #3b5998;
}
.footer .container-enlaces .iconos-redes a:nth-child(1) {
  color: #dd2a7b;
}
.footer .container-enlaces .iconos-redes .icon {
  font-size: 1.5rem;
}
.footer .container-enlaces .iconos-redes .icon:hover {
  transform: scale(1.2);
  transition: 0.7s ease-out;
}
@media only screen and (max-width: 768px) {
  .footer .container-enlaces .iconos-redes {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .footer .container-enlaces {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}
.footer .copyright {
  color: #520d40;
  font-family: "Montserrat";
  font-size: 12px;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .footer {
    padding: 50px;
  }
}

/* Productos Destacados */
.section-destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 60px 0 80px;
}
.section-destacados h2 {
  margin: 0;
}
.section-destacados .container-destacados {
  margin-top: 80px;
  width: 100%;
  display: flex;
}
.section-destacados .container-destacados .producto-destacado {
  margin: 10px;
  text-align: center;
  font-family: "Bebas Neue";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  transition: all 1s ease-in-out;
}
.section-destacados .container-destacados .producto-destacado:hover {
  transform: scale(1.1);
  box-shadow: 7px 9px 5px -3px rgba(214, 133, 141, 0.51);
}
.section-destacados .container-destacados .producto-destacado img {
  width: 65%;
}
.section-destacados .container-destacados .producto-destacado .text-destacados {
  color: #b23a48;
  margin: 20px;
}
.section-destacados .container-destacados .producto-destacado .text-destacados h3 {
  font-size: 20px;
}
@media only screen and (max-width: 960px) {
  .section-destacados .container-destacados .producto-destacado {
    margin: 25px auto;
  }
}
@media only screen and (max-width: 960px) {
  .section-destacados .container-destacados {
    flex-direction: column;
  }
}

/*Icono de volver a inicio*/
.volver-icon {
  font-size: 20px;
  text-align: right;
  margin-right: 20px;
  position: sticky;
  top: 65%;
}
.volver-icon i {
  color: #520d40c5;
  opacity: 0.8;
}
.volver-icon i:hover {
  color: #CC6670;
}

/* Sobre Nosotros */
#nosotros {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}
#nosotros .container-nosotros {
  display: flex;
  justify-content: center;
  margin: 70px 20px;
}
#nosotros .container-nosotros img {
  width: 50%;
}
@media only screen and (max-width: 960px) {
  #nosotros .container-nosotros img {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  #nosotros .container-nosotros img {
    width: 100%;
  }
}
#nosotros .container-nosotros .parrafo-nosotros {
  color: #520d40;
  background-color: rgba(254, 219, 215, 0.5);
  width: 40%;
  text-align: center;
  font-style: oblique;
}
@media only screen and (min-width: 960px) {
  #nosotros .container-nosotros .parrafo-nosotros {
    position: absolute;
    z-index: 3;
    margin-top: 20%;
  }
}
@media only screen and (max-width: 960px) {
  #nosotros .container-nosotros .parrafo-nosotros {
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: #520d40c5;
    color: #fedbd7;
  }
}
@media only screen and (max-width: 768px) {
  #nosotros .container-nosotros .parrafo-nosotros {
    margin: 20px auto;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) {
  #nosotros .container-nosotros {
    margin: 60px;
  }
}
@media only screen and (max-width: 768px) {
  #nosotros .container-nosotros {
    flex-direction: column;
  }
}

/*Productos*/
.cart {
  font-size: 20px;
  text-align: right;
  padding: 5px 50px 0 0;
  color: #520d40c5;
  background-color: rgba(254, 219, 215, 0.8);
  border-bottom: solid 1px #dd9aa0;
}
.cart:hover {
  color: #CC6670;
}

.grid-container-productos {
  margin: 90px 120px 20px 120px;
  width: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
  letter-spacing: 1px;
}
.grid-container-productos .grid-item-producto {
  background-color: rgba(254, 219, 215, 0.5);
  box-shadow: 7px 9px 5px -3px rgba(214, 133, 141, 0.51);
  padding-bottom: 50px;
  border-radius: 3%;
  height: 75%;
}
.grid-container-productos .grid-item-producto:hover {
  box-shadow: 7px 9px 5px -3px rgba(124, 82, 86, 0.51);
}
.grid-container-productos .grid-item-producto img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.grid-container-productos .grid-item-producto .name-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas Neue";
  color: #520d40c5;
}
.grid-container-productos .grid-item-producto .name-producto h3 {
  padding-top: 10px;
  font-size: 20px;
}
.grid-container-productos .grid-item-producto .name-producto .button-bag {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.grid-container-productos .grid-item-producto .name-producto .button-bag p {
  font-size: 18px;
  margin-bottom: 7px;
}
.grid-container-productos .grid-item-producto .name-producto .button-bag button {
  color: #520d40;
  background-color: transparent;
  margin: 10px;
  border: none;
}
.grid-container-productos .grid-item-producto .name-producto .button-bag button:active {
  color: #CC6670;
}
@media only screen and (max-width: 960px) {
  .grid-container-productos .grid-item-producto {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .grid-container-productos .grid-item-producto {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 960px) {
  .grid-container-productos {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    gap: 80px;
  }
}

/* Contacto Formulario + Modal */
.contacto {
  margin: 8% 10%;
  font-family: "Bebas Neue";
}
.contacto h2 {
  color: #520d40c5;
  background-color: #fedbd7;
  border: solid 2px #520d40c5;
}
.contacto .container-form {
  margin: 80px auto;
  background-color: #fedbd7;
  border: solid 2px #520d40c5;
}
.contacto .container-form label {
  color: #520d40c5;
}
.contacto textarea {
  resize: none;
}
.contacto button {
  color: #520d40c5;
}
.contacto button:hover {
  background-color: #520d40;
  color: #fedbd7;
}
.contacto .modal-body {
  color: #520d40;
}
.contacto .modal-header {
  color: #520d40;
}

/*Locales*/
.locales {
  background-image: url("../images/locales.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  padding: 100px 0;
}
.locales iframe {
  border-radius: 10%;
  opacity: 0.8;
}
.locales iframe:hover {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .locales iframe {
    padding: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .locales iframe {
    display: none;
  }
}
.locales .direcciones {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 20px;
}
.locales .direcciones .direccion1 {
  background-color: rgba(254, 219, 215, 0.8);
  padding: 35px;
  color: #b23a48;
}
.locales .direcciones .direccion2 {
  background-color: rgba(254, 219, 215, 0.8);
  padding: 35px;
}
@media only screen and (max-width: 960px) {
  .locales {
    flex-direction: column;
    background-color: #fedbd7;
  }
}

/*Como Comprar*/
/*Envios, Retiros y Medios de Pago*/
.como-comprar {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 80px 100px 50px 100px;
  padding: 100px;
  gap: 10%;
  text-align: center;
}
.como-comprar .envios {
  color: #CC6670;
}
.como-comprar .envios h2 {
  margin: 0 auto;
  width: 90%;
}
.como-comprar .envios p {
  color: #520d40;
  margin: 20px 0;
  width: 70%;
  padding-left: 25px;
  text-align: start;
}
.como-comprar .envios i {
  font-size: 20px;
  color: #CC6670;
}
.como-comprar .envios i:hover {
  color: #520d40;
}
.como-comprar .envios img {
  text-align: center;
  width: 70%;
  border-radius: 2%;
  border: solid 2px #d6858d;
}
.como-comprar .envios img:hover {
  border: solid 2px #520d40c5;
}
.como-comprar .envios .retiro {
  margin-top: 30px;
}
.como-comprar .medios-pago {
  margin-top: 0;
}
.como-comprar .medios-pago h2 {
  width: 90%;
  margin: 0 auto;
}
.como-comprar .medios-pago .detalles-pago {
  margin: 20px 0px;
  padding: 10px 10px 10px 20px;
  text-align: start;
}
.como-comprar .medios-pago .detalles-pago p {
  color: #520d40;
}
.como-comprar .medios-pago .detalles-pago i {
  color: #CC6670;
}
.como-comprar .medios-pago .detalles-pago i:hover {
  color: #520d40;
}
.como-comprar .medios-pago img {
  width: 80%;
  border-radius: 2%;
  border: solid 2px #520d40c5;
}
.como-comprar .medios-pago img:hover {
  border: solid 2px #d6858d;
}
.como-comprar .icon-pay {
  font-size: 40px;
}
.como-comprar .icon-pay i:hover {
  color: #CC6670;
}
@media only screen and (max-width: 960px) {
  .como-comprar {
    flex-direction: column;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .como-comprar {
    padding: 0;
    margin: 40px 30px 50px 30px;
  }
}

/*Fonts*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff1eb;
  font-family: "Montserrat", sans-serif;
  color: #520d40;
}

/* Enlaces*/
a {
  text-decoration: none;
}

a:link {
  color: #d6858d;
}

a:visited {
  color: #CC6670;
}

/*Títulos*/
.subtitulos {
  margin: 0 80px 0 80px;
  color: #b23a48;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 30px;
  border: solid 2px #dd9aa0;
  background-color: rgba(254, 219, 215, 0.5);
}
@media only screen and (max-width: 480px) {
  .subtitulos {
    margin: 0 60px 0 60px;
  }
}

/*Padding Html*/
.section-productos,
.nuestros-locales,
.como-comprar {
  padding-top: 5%;
}

/*# sourceMappingURL=style.css.map */
