@import '../base/listas';
/* Contacto Formulario + Modal */

.contacto {
    margin: 8% 10%;
    font-family: nth($fonts, 2);

    h2 {
        color: nth($colores, 2);
        background-color: nth($colores, 8);
        border: solid 2px nth($colores, 2);
    }


    .container-form {
        margin: 80px auto;
        background-color: nth($colores, 8);
        border: solid 2px nth($colores, 2);

        label {
            color: nth($colores, 2);
        }
    }

    textarea {
        resize: none;
    }

    button {
        color: nth($colores, 2);

        &:hover {
            background-color: nth($colores, 1);
            color: nth($colores, 8);
        }
    }

    .modal-body {
        color: nth($colores, 1);
    }

    .modal-header {
        color: nth($colores, 1);
    }

}