@import '../base/listas';
@import '../base/variables';
/*Footer*/


.footer {
    background-image: url('../images/img-footer.jpg');
    background-size: cover;
    color: nth($colores, 2);
    text-align: end;
    font-family: nth($fonts, 2);
    letter-spacing: 1px;
    padding: 50px 50px 0 50px;
    border-top: solid 1px nth($colores, 4);

    .container-enlaces {
        display: flex;
        justify-content: space-between;

        .enlaces-footer {
            a {
                padding: 12.5px;
                color: nth($colores, 2);

                &:hover {
                    color: nth($colores, 3);
                    border-bottom: solid 2px nth($colores, 1);
                    padding-bottom: 2px;
                }
            }

            @media only screen and (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }

        .iconos-redes {
            padding: 10px;
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: space-between;

            a:nth-child(4) {
                color: #00bb2d;
            }

            a:nth-child(3) {
                color: #010101;
            }

            a:nth-child(2) {
                color: #3b5998;
            }

            a:nth-child(1) {
                color: #dd2a7b;
            }

            .icon {
                font-size: 1.5rem;

                &:hover {
                    transform: scale(1.2);
                    transition: 0.7s ease-out;
                }
            }

            @media only screen and (max-width: 768px) {
                justify-content: center;
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            gap: 15px;
        }

    }

    .copyright {
        color: nth($colores, 1);
        font-family: nth($fonts, 4);
        font-size: 12px;
        text-align: center;
    }

    @media only screen and (max-width: 960px) {
        padding: 50px;
    }

}