@import '../base/variables';
@import '../base/listas';
@import '../base/mixins';

/*Titulo Marca*/

.titulo {
    background-color: transparent;
    color: nth($colores, 3);
    text-align: center;
    position: absolute;
    left: 46.5%;
    top: 20%;
    z-index: 5;
    animation: mostrar 5s infinite;
    font-family: nth($fonts, 2);

    &:hover {
        color: nth($colores, 2);
    }

    @keyframes mostrar {
        0% {
            opacity: 0.75;
        }

        50% {
            color: nth($colores, 3);
            opacity: 1.5;
        }

        100% {
            color: nth($colores, 2);
            opacity: 0.75;
        }
    }

    @media only screen and (max-width: 960px) {
        display: none;
    }
}



/*Menu Principal*/
.menu {
    @include disposicion(flex, space-between, center);
    background-color: nth($colores, 9);
    position: fixed;
    top: 0;
    z-index: 3;
    width: $ancho;
    font-family: nth($fonts, 2);
    letter-spacing: 1px;


    /*Logo*/
    img {
        width: 12%;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        width: 80px;
        height: 30px;
        text-align: center;
        padding: $padding / 10;
        font-size: 17px;
    }

    a {
        color: nth($colores, 3);


        &:hover {
            color: nth($colores, 8);
            background-color: nth($colores, 3);
            padding: 5px;
            border-radius: 15px 50px 30px;
        }
    }

    @media only screen and (max-width: 960px) {
        display: none;
    }
}

.nav-responsive {
    display: none;

    
    
    @media only screen and (max-width: 960px) {
        display: inline;
        background-color: nth($colores, 10);
        font-family: nth($fonts, 2);
    }
}

.cuotas {
    color: nth($colores, 8);
    background-color: nth($colores, 1);
    text-align: center;
    margin-top: 6%;
    animation: cuotas 7s infinite;

    @media only screen and (max-width: 960px) {
        margin-top: 0;
    }

    .cuotas-desktop {
        margin: 0;
        font-family: nth($fonts, 2);
        font-size: 22px;
        letter-spacing: 1px;

        @media only screen and (max-width: 960px) {
            display: none;
        } 
    }
    
    .titulo-responsive {
        display: none;
    
    @media only screen and (max-width: 960px) {
        font-family: nth($fonts, 2);
        font-size: 25px;
        letter-spacing: 1px;
        display: inline;
    }    
}
    @keyframes cuotas {
        0% {
            opacity: 0.50;
        }

        25% {
            opacity: 1;
        }

        50% {
            background-color: nth($colores, 4);
            opacity: 1.50;
        }

        75% {
            opacity: 1;
        }

        100% {
            color: nth($colores, 8);
            background-color: nth($colores, 1);
            opacity: 0.50;
        }
    }
}