@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';

/*Locales*/

.locales {
    background-image: url('../images/locales.jpg');
    background-size: cover;
    @include disposicion(flex, space-evenly, center);
    margin: 50px;
    padding: $padding 0;

    iframe {
        border-radius: 10%;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        @media only screen and (max-width: 768px) {
            padding: 50px;
        }

        @media only screen and (max-width: 480px) {
            display: none;
        }
    }

    .direcciones {
        display: flex;
        flex-direction: column;
        gap: 75px;
        padding: 20px;

        .direccion1 {
            background-color: nth($colores, 10);
            padding: 35px;
            color: nth($colores, 3);
        }

        .direccion2 {
            background-color: nth($colores, 10);
            padding: 35px;
        }
    }

    @media only screen and (max-width: 960px) {
        flex-direction: column;
        background-color: nth($colores, 8);
    }

}
