@import '../base/mixins';

/* Nosotros */

#nosotros {
    display: flex;
    flex-direction: column;
    padding-top: 6%;

    .sobre-nosotros{
        color: nth($colores, 3);
        margin: 0 80px 0 80px;
        border: solid 2px nth($colores, 6);
        background-color: nth($colores, 9);
    }

    .container-nosotros {
        @include disposicion(flex, center, center);
        margin: 80px;
        padding: 25px 0;
        gap: 50px;

        img {
            width: 25%;
        }

        .parrafo-nosotros {
            color: nth($colores, 3);
            text-align: center;
            width: 40%;
            font-style: oblique;
        }

        @media only screen and (max-width: 960px) {
            flex-direction: column;
            margin: 0 auto;
        }
    }
}