@import '../base/mixins';

/* Sobre Nosotros */

#nosotros {
    display: flex;
    flex-direction: column;
    padding-top: 6%;

    .container-nosotros {
        display: flex;
        justify-content: center;
        margin: 70px 20px;

        img {
            width: 50%;

            @media only screen and (max-width: 960px) {
                width: 70%;
            }

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

        }

        .parrafo-nosotros {
            color: nth($colores, 1);
            background-color: nth($colores, 9);
            width: 40%;
            text-align: center;
            font-style: oblique;


            @media only screen and (min-width: 960px) {
                position: absolute;
                z-index: 3;
                margin-top: 20%;
            }

            @media only screen and (max-width: 960px) {
                margin: 20px;
                display: flex;
                align-items: center;
                background-color: nth($colores, 2);
                color: nth($colores, 8);
            }

            @media only screen and (max-width: 768px) {
                margin: 20px auto;
                width: 100%;
            }

        }

        @media only screen and (max-width: 960px) {
            margin: 60px;
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}