@import '../base/variables';
@import '../base/listas';
@import '../base/mixins';
/*Productos*/

$producto: (
    shadow-fija: 7px 9px 5px -3px rgba(214, 133, 141, 0.51),
    shadow-hover: 7px 9px 5px -3px rgba(124, 82, 86, 0.51),
    hover: 0.85,
    name-producto: nth($colores, 2)
);


.grid-container-productos {
    margin: 80px 100px;
    padding-bottom: 100px;
    width: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 130px 50px;
    letter-spacing: 1px;

    .grid-item-producto {
        background-color: nth($colores, 9);
        box-shadow: map-get($producto, shadow-fija);
        padding: 20px 20px 50px 20px;

        &:hover {
            box-shadow: map-get($producto, shadow-hover);
        }

        img {
            width: $ancho;
            height: $ancho - 20;
            object-fit: cover;

            &:hover {
                opacity: map-get($producto, hover);
            }
        }

        .button-bag {
            @include disposicion(flex, center, center);
            flex-direction: column;

            h3 {
                color: map-get($producto, name-producto);
                padding-top: 15px;
            }

            p {
                padding-top: $padding / 5;
                color: map-get($producto, name-producto);
                font-weight: bold;
            }

            button {
                background-color: transparent;
                border-radius: 30%;
                margin: 10px;
                padding: 6px;
                border: none;

                &:active {
                    background-color: nth($colores, 7);
                }

                img {
                    object-fit: contain;
                }
            }
        }

        @media only screen and (max-width: 960px) {
            padding-bottom: $padding / 5;
        }
    }

    @media only screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
}