/* Productos Destacados */

.section-destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 60px 0 80px;

    h2 {
        margin: 0;
    }

    .container-destacados {
        margin-top: 80px;
        width: 100%;
        display: flex;


        .producto-destacado {
            margin: 10px;
            text-align: center;
            font-family: nth($fonts, 2);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex: 1;
            transition: all 1s ease-in-out;

            &:hover {
                transform: scale(1.1);
                box-shadow: 7px 9px 5px -3px rgba(214, 133, 141, 0.51);
            }

            img {
                width: 65%;
            }

            .text-destacados {
                color: nth($colores, 3);
                margin: 20px;

                h3 {
                    font-size: 20px;
                }
            }

            @media only screen and (max-width: 960px) {
                margin: 25px auto;
            }
        }

        @media only screen and (max-width: 960px) {
            flex-direction: column;
        }
    }
}

/*Icono de volver a inicio*/

.volver-icon {
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    position: sticky;
    top: 65%;

    i {
        color: nth($colores, 2);
        opacity: 0.8;

        &:hover {
            color: nth($colores, 4);
        }
    }
}